# Example of environment variables file
# You need a .env file in the root that will be gitignored

# These are the environment variables needed for this application
# Change the values according to your environment

MONGODB_URI=mongodb://localhost:27017/dbname
